.navigation {
  position: absolute;
  top: 10rem;
  left: 3rem;

  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;

  &__list {
    list-style: none;
  }

  &__items:not(:last-child) {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 61.25em) {
  .navigation {
    top: 1rem;
    left: 2rem;

    &__items:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
} // 980px / 16px = 61.25em
