.header {
  height: 100vh;
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;

  &__img {
    height: 100%;
    width: 100%;
  }

  &__title {
    font-size: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-title);
    letter-spacing:0.2rem

  }
}

 @media only screen and (max-width: 61.25em) {
   .header {
     height: 100%;

    &__title {
      font-size: 3rem;
    }
   }
 } // 980px / 16px = 61.25em

