.hero {
  margin-top: 14rem;
  margin-bottom: 9rem;
  h1 {
    font-size: 7.2rem;
    line-height: 8rem;
    font-weight: 700;
  }

  p {
    font-size: 1.6rem;
    font-weight: 500;
  }

  span {
    display: block;
  }
}

@media only screen and (max-width: 56.25em) {
  .hero {
          margin-top: 10rem;
    h1 {
line-height: 5rem;
      font-size: 4rem;
    }
  }
}