<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="Description" content="Tuan Nguyen Portfolio" />

    <meta property="og:title" content="Tuan Nguyen Portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://thichdev.com/" />
    <meta
      property="og:image"
      content="https://thichdev.com/assets/ogimage.jpg"
    />
    <meta
      property="og:description"
      content="Tuan Nguyen Portfolio, A fresher front-end developer"
    />
    <meta property="og:site_name" content="Tuan Nguyen Portfolio" />

    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png" />

    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>

  </body>
</html>
