.container {
  padding: 0 1.875rem;
  display: flex;
}
@media screen and (max-width: 39.9375em) {
  .container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}



.card {
  position: relative;
  transition: all 0.5s ease;
  
}

.card:hover {
  transform: translateY(-0.5rem);
  box-shadow: var(--shadow-light);
}

.card__img {
  z-index: -1;

}
.card__img img {
  filter: grayscale(1);
    border: 1px solid var(--color-text);
  transition:  filter 0.3s ease-in-out;
  width: 100%;
}

.card__img:hover img {
  filter: grayscale(0)
}

.button {
  text-transform: uppercase;
}

.label {
  position: absolute;
  top: 2rem;
  right: 1rem;
  z-index: 1;
}