.main {


aspect-ratio: 16 / 9;  
  &__list {
    list-style-type: none;
    display: flex;
    width: 100%;
  }

  &__items {
    width: calc(100% / 2);
    // background: red;
    overflow: hidden;
     aspect-ratio: 1 / 1;
     position: relative;

  }

  &__photo {
    height: 100%;
    width: 100%;

  }

  &__label {
    text-align: center;
        position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: var(--z-index-overlay);
    color: var(--color-white);
    font-family: var(--font-family-title);
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1px;
  }
}

 @media only screen and (max-width: 61.25em) {
   .main {

    &__label {
      font-size: 1.5rem;
    }
   }
 } // 980px / 16px = 61.25em


