.main {
  padding-top: 1.5rem;
  margin-bottom: 3rem;

         @media only screen and (max-width: 61.25em) {
   padding: 0rem 1rem;
 } // 98
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: var(--font-family-base);
    font-weight: 300;
    margin-bottom: 1.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    
  }

  &__title:hover {
letter-spacing: 0.2px;
  }

  &__list {
    list-style-type: none;
    display: flex;
    width: 100%;
    margin: 0;

       @media only screen and (max-width: 61.25em) {
   flex-flow: column wrap;
  
 } // 980px / 16px = 61.25em


  }

  &__items {
    width: calc(100% / 5);
    // background: red;
    overflow: hidden;
    aspect-ratio: 1 / 1;

   @media only screen and (max-width: 61.25em) {
   width: 100%;
 } // 980px / 16px = 61.25em

  }

  &__items:hover > &__photo {
transform: scale(1.2) rotate(-5deg);
    transition: 0.75s ease-in-out;
  }

  &__photo {
    height: 100%;
    width: 100%;
    
  }
}
