.contact {
    margin-bottom: 35rem;
}

.heading {
  display: flex;
  justify-content: flex-end;
}

.main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.content {
  width: calc((calc(100% - 3rem)) / 2);
  margin-right: 3rem;
  font-size: 2.5rem;
  font-weight: 500;
}

.info {
  width: calc((calc(100% - 3rem)) / 2);
  text-align: center;


  &__title {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;

  }

  &__icons {
    width: 100%;
    
   &__list {
    display: flex;
    justify-content: center;
     
    li:not(:last-child) {
      display: block;
      margin-right: 1rem;
    }
     img {
       width: 5rem;
       height: auto;
     }
   }
  }
}

@media only screen and (max-width: 56.25em) {
  .content {
    width: 100%;
    margin-bottom: 3rem;
  }

  .info {
    width: 100%;
  }

}